.{
    margin: 0px;
    padding: 0px;
    
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/32/19/b5/3219b5bacd3c712241660b5465785e8c.jpg');
    background-size:cover;
}
.card{
    width: 100%;
    max-width: 400px;
    width: 100%;
    max-width: 400px;
    background: #757f97d0;
    color: #030303;
    border-radius: 16px;

}

.placeInput{
    padding-bottom: 7px;
    padding-top: 1px;
    background: #b9b6b6d0;
    color: #030303;
    border: none;
    
   
}